/* Created XX April XXXX
Last update April XX:  */

:root {
  --zI-1: 1;
  --zI-2: 2;
  --zI-3: 3;
  --zI-4: 4;
  --zI-5: 5;

  /* --z-nav: var(--zI-2); 100 */
}

* {
  box-sizing: border-box;
}

/*--- General ---*/

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  line-height: 1.6;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
}

.card-header {
  height: 200px;
}

.card-header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-content {
  background-color: white;
  padding: 3rem;
}

.card-title {
  height: 2rem;
  margin: 0;
}

.card-excerpt {
  color: #777;
  margin: 1rem 0 2rem;
}

.author {
  display: flex;
}

.profile-img {
  border-radius: 50%;
  overflow: hidden;
  height: 4rem;
  width: 4rem;
}

.author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 1rem;
  width: 100px;
}

.author-info small {
  color: #444;
}

/* EL ELEMENTO QUE ANIMA */
.animated-bg {
  background-image: linear-gradient(to right, #3281cf6d 0%, #1a46cb67 100%);
  background-size: 200% 100%;
  animation: bgPos 1s linear infinite;
}

.animated-bg-text {
  border-radius: 50px;
  display: inline-block;
  margin: 0;
  height: 10px;
  width: 100%;
}

@keyframes bgPos {
  0% {
    background-position: 50% 0;
  }

  100% {
    background-position: -150% 0;
  }
}
